doctype html
html(lang='en' ng-app="todo")
	head
		block title
			title=title

		link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css')

	body
		block navbar

		block content

		block footer

		script(type='text/javascript' src='/jquery/dist/jquery.min.js')
		script(type='text/javascript' src='/angular/angular.min.js')
		script(type='text/javascript' src='/bootstrap/dist/js/bootstrap.min.js')
		script(type='text/javascript' src='/js/app.js')

		block script